* {
  margin: 0;
  padding: 0;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff9ec;
}

.header {
  width: 100%;
  background-color: #94b9f3;
  color: #fff9ec;
  padding: 1rem;
  font-size: 1.7rem;
  font-weight: bold;
}

.game-start-btn {
  margin-top: 20rem;
  background-color: #94b9f3;
  width: 200px;
  height: 50px;
  color: #fff9ec;
  border: none;
  font-size: 1rem;
}

.word-display {
  margin-top: 2rem;
  text-align: center;
  font-size: 80px;
  color: #94b9f3;
}

.word-input-box {
  margin-top: 2rem;
}

.word-input {
  text-align: center;
  padding: 0.5rem;
  width: 300px;
  height: 40px;
  font-size: 1.3rem;
}

.game-time {
  margin-top: 5rem;
  text-align: center;
  font-size: 1.5rem;
  color: #776a77;
}

.game-score {
  margin-top: 3rem;
  text-align: center;
  font-size: 1.5rem;
  color: #776a77;
}

.time,
.score {
  font-size: 2rem;
  color: #dddea5;
  font-weight: bold;
}
.Incorrect {
  outline-color: rgb(255, 52, 52);
}