html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Orbitron";
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWg1fDAlp7lk.woff)
    format("woff");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215,
    U+FEFF, U+FFFD;
}

#quiz-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: #2d2d2d;
}

.quiz-start-btn {
  display: block;
  padding: 10px 24px;
  font-size: 20px;
  background: #1de9b6;
  border: 1px solid #15d8a7;
  box-shadow: 3px 3px 0px 2px rgba(29, 233, 182, 0.2);
  cursor: pointer;
}

.quiz-start-btn:hover {
  background: #63f0cd;
}

.timerBox {
  width: 338px;
  margin: 0 auto;
  font-size: 58px;
  font-weight: bold;
  font-family: Orbitron;
  letter-spacing: 7px;
  color: #1de9b6;
}

.quiz-box {
  width: 50%;
  margin: 30px 0;
  padding: 12px;
  border: 1px solid rgb(118, 118, 118);
  font-size: 50px;
  color: #fff;
  text-align: center;
}

.input-box {
  width: 50%;
  margin: 30px 0;
  padding: 12px;
  font-size: 50px;
  color: #63f0cd;
  text-align: center;
  background: transparent;
  outline-style: none;
}

.input-box.sucess{
  border:1px solid greenyellow;
}
.input-box.wrong{
  border:1px solid red;
}
