* {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.1rem;
}

body {
  display: flex;
  justify-content: center;
  background-color: rgb(255, 251, 245);
}

.game_box {
  border: 30px solid rgb(255, 158, 158);
  background-color: white;
}

.input,
.timer_box,
.score,
.game_box {
  display: none;
  margin: 2rem;
  text-align: center;
}

.start_btn {
  position: relative;
  top: 100px;
}

.input {
  text-align: center;
}

.word {
  text-align: center;
}

button {
  cursor: pointer;
  margin: 2rem;
  background-color: rgb(255, 158, 158);
  border-radius: 10px;
  color: white;
  border: 2px solid rgb(211, 135, 135);
}

p {
  font-size: 0.7em;
}

.showing {
  display: block;
}

.hiding {
  display: none;
}

.incorrect {
  outline-color: rgb(255, 52, 52);
}
